name: verify

on: push

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      with:
        submodules: false 

    - name: Set up Python
      uses: actions/setup-python@v1
    
    - name: Install ac-library
      run: |
          git clone --no-checkout https://github.com/atcoder/ac-library.git
          cd ac-library
          git sparse-checkout init --cone
          git sparse-checkout set atcoder
          git checkout
          mv atcoder ../
          cd ../

    - name: Install dependencies
      run: pip3 install -U online-judge-verify-helper
      
    - name: Run tests
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          YUKICODER_TOKEN: ${{ secrets.YUKICODER_TOKEN }}
          GH_PAT: ${{ secrets.GH_PAT }}
      run: oj-verify all

    - name: Delete ac-library
      run: rmdir /s /q atcoder